<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.yuknabung_group1">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.YukNabung_Group1">
        <activity
            android:name=".Tampilan_Target_Selesai"
            android:exported="true" />
        <activity
            android:name=".Tampilan_Awal_Sedang_Berjalan"
            android:exported="true" />
        <activity
            android:name=".Tampilan_Awal_Target_Selesai"
            android:exported="true" />
        <activity
            android:name=".Tampilan_Sedang_Berjalan"
            android:exported="true" />
        <activity
            android:name=".Tampilan_yuknabung"
            android:exported="true" />
        <activity
            android:name=".Insert_Nominal_Sepatu"
            android:exported="true" />
        <activity
            android:name=".Insert_Nominal_Iphone"
            android:exported="true" />
        <activity
            android:name=".Insert_Nominal_Gitar"
            android:exported="true" />
        <activity
            android:name=".TampilanActivity"
            android:exported="true" />
        <activity
            android:name=".TampilanEditGitarActivity"
            android:exported="true" />
        <activity
            android:name=".Nominal_Terkumpul"
            android:exported="true"/>
        <activity
            android:name=".History_Activity"
            android:exported="true" />
        <activity
            android:name=".InsertGambarActivity"
            android:exported="true" />
        <activity
            android:name=".Activity_Add_Target"
            android:exported="true" />
        <activity
            android:name=".Activity_StartMenu"
            android:exported="true"/>
        <activity
            android:name=".Sign_in_Activity"
            android:exported="true"/>
        <activity
            android:name=".Activity_Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>